<div class="{{ class }}">
    <div class="header clearfix">
        <a href="{% url 'index' %}" class="logo"></a>
        <ul class="menu">
            {% for item in links_menu %}
            <li><a href="{% url item.href %}" class="{% if item.href == active %}
                active
            {% endif %}">{{ item.name }}</a></li>
            {% endfor %}

            {% if user.is_superuser %}
            <li><a href="{% url 'admin_staff:users' %}">Админка</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li style="margin-top: -8px;">
            <div class="dropdown">

               <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                   {{ user.first_name|default:'Пользователь' }}
                   <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                   <li>
                       <a class="nav-link text-dark" href="{% url 'auth:edit' %}">
                           Профиль
                       </a>
                   </li>
                   <li>
                       <a class="nav-link text-dark" href="{% url 'ordersapp:orders_list' %}">
                           Заказы
                       </a>
                   </li>
               </ul>
            </div>
            </li>
            <li><a href="{% url 'auth:logout' %}">выйти</a></li>

            {% else %}
            <li><a href="{% url 'auth:login' %}">войти</a></li>
            <li><a href="{% url 'auth:register' %}">регистрация</a></li>
            {% endif %}
        </ul>
        <a href="#" class="search"></a>
        <div class="basket-summary">
        {% include 'basketapp/includes/inc_basket_summary.html' %}
        </div>
    </div>
