{% extends 'geekshop/base.html' %}
{% load static %}
{% load my_tags %}


{% block content %}
{% include 'geekshop/includes/inc_main_menu.html' with active="products:index" class="hero-white" %}
</div>
<div class="details">


    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="/media/{{ product.image|media_folder_products }}">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image|media_folder_products }}" alt="" style="width:50px;">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image|media_folder_products }}" alt="" style="width:50px;">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image|media_folder_products }}" alt="" style="width:50px;">
                        <div class="text">{{basket}}</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ product|title }}</h3>
            <h3 class="red">{{ product.short_desc }}</h3>
            <p class="price"> {{ product.price|floatformat:0 }} <span>руб</span></p>
            <a href="{% url 'basket:add' product.pk %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                {{ product.description }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
